*{
  padding: 0;
  margin: 0
}
.hovererr:hover{
  cursor: pointer;
}

.dropdown1{
  width: 100px !important
}

.warnanav{
  color: white
}
.warnanav:hover{
  color: white !important
}
.navbar { 
  box-shadow: none !important; 
}